@import './Variables.scss';

.blog-nav {
    a {
        background: var(--primary);
        color: #fff;
        font-size: 1rem;
        padding: 1rem;
        font-weight: bold;
        position: relative;

        &:hover {
            background: var(--secondary);
        }

    }

    .nav-link-prev {
        border-right: 1px solid var(--secondary);
    }

    .arrow-prev {
        position: absolute;
        left: 1rem;
        top: 1.25rem;
        color: #fff
    }

    .arrow-next {
        position: absolute;
        right: 1rem;
        top: 1.25rem;
        color: #fff
    }
}

.content {
    .title {
        font-weight: bold;
        font-size: 2rem
    }

    .image-caption {
        color: #8f8f8f;
        font-size: 0.875rem;

        a {
            color: #8f8f8f;
            text-decoration: underline;

            &:hover {
                color: var(--secondary)
            }
        }
    }
}


/*	12. Comments -------------------------------------------------------------------------- */


.comments-wrapper {
    margin-top: 3rem;
}

.comment-reply-title {
    margin: 0 0 4rem 0;
    text-align: center;
}

.comments .comment,
.comments .pingback,
.comments .trackback,
.comments .review {
    padding-top: 3.5rem;
}

div.comment:first-of-type {
    margin-top: 3.5rem;
    padding-top: 0;
}

.comments .comments-header+div {
    margin-top: 0;
    padding-top: 0;
}

.comment-body {
    position: relative;
}

.comment .comment {
    padding-left: 5%;
}

.comment-meta {
    line-height: 1.1;
    margin-bottom: 0;
    min-height: 5rem;
    padding-left: 5rem;
    position: relative;
}

.hide-avatars .comment-meta {
    min-height: 0;
    padding-left: 0;
}

.comment-meta a {
    color: inherit;
}

.comment-author {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.027777778em;

    a {
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.comment-meta .avatar {
    height: 4rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
}

.comment-author .url {
    text-decoration: underline;
}

.comment-metadata {
    color: var(--gray);
    font-size: var(--font-small);
    font-weight: 500;
    margin-top: 0.6rem;

    a {
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }

    }
}

.comment-footer-meta {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-small);
    font-weight: 600;
    justify-content: flex-start;
    letter-spacing: 0.030833333em;
    line-height: 1;
    margin: 1.5rem 0 -1rem -1.5rem;
    text-transform: uppercase;
}

.comment-footer-meta>* {
    margin: 0 0 1rem 1.5rem;
}

.comment-reply-link {
    background-color: var(--primary);
    border-radius: 2px;
    color: #fff;
    display: block;
    padding: 0.7rem;
}

.bypostauthor .comment-footer-meta .by-post-author {
    display: block;
}

.comment-footer-meta a {
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: underline;
    }
}

.pingback .comment-meta,
.trackback .comment-meta {
    padding-left: 0;
}

.comments-pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6rem;
    text-align: center;

    &.only-next {
        justify-content: flex-end;
    }

    .page-numbers {
        display: none;
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }

    .prev,
    .next {
        display: block;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
        text-align: right;
    }
}

.comment-respond::after {
    clear: both;
    content: "";
    display: block;
}

.comment-respond .comment-notes,
.comment-respond .logged-in-as {
    color: #6d6d6d;
    font-size: 1.6rem;
    line-height: 1.4;
    margin: -3rem 0 4rem 0;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
    }
}

.comment-respond p {
    line-height: 1.1;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    &:not(.comment-notes) {
        max-width: 58rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    label {
        display: block;
    }

    input[type="checkbox"]+label {
        font-size: 1.5rem;
        line-height: 1.25;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        margin-bottom: 0;
    }

    textarea {
        height: 15rem;
    }

    #submit {
        display: block;
    }

    .comments-closed {
        text-align: center;
    }

    .comment-respond {
        padding: 3rem 0 0;

        .comment-reply-title,
        .comment-notes,
        .logged-in-as {
            text-align: left;
        }
    }
}

.comment-reply-title small {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: -0.0277em;
    margin: 0.5rem 0 0 0;
    white-space: nowrap;

    a {
        text-decoration: none;

        &:focus,
        &:hover {
            text-decoration: underline;
        }
    }
}