.call-to-action-wapp {
    background-image: url('./assets/images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    a.btn {
        width: fit-content;
    }
}