@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import './Variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    line-height: 1.15;
}

body {
    color: var(--gray);
    overflow-x: hidden;
    font-family: var(--font-family);
}

// Bootstrap overrides
.bg-dark {
    background: var(--gray-dark) !important;
}

.bg-primary {
    background: var(--primary) !important;
}

.text-light {
    color: var(--darkwhite) !important;
}

.main-wrapper {
    background: var(--white);

    .container {
        max-width: var(--content-max-width);
    }
}

.gray-overlay {
    background-color: #00000063;
}

.paws-overlay {
    background-image: url('./assets/images/paw-pattern.png');
}

.page-title {
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: all .2s;

    .heading {
        font-size: 2rem;
        font-weight: bold;
        color: white;
    }
}

.sticky {
    padding: 1em 0 !important;
}

.gradient {
    background: rgb(43, 43, 43);
    background: linear-gradient(151deg, var(--orange) 0%, var(--pink) 35%, var(--primary) 100%) !important;
}

.content .post {
    .title {
        font-size: 1.275rem;

        a {
            color: var(--gray-dark);

            &:hover {
                color: var(--gray-dark)
            }
        }
    }

    .post-thumb {
        max-width: 160px;
        border-radius: 2px
    }

    .intro {
        font-size: 0.875rem
    }

    .more-link {
        font-size: var(--font-small);
    }
}

.meta {
    color: #8f8f8f;
    font-size: var(--font-small);

    span {
        display: inline-block;
        margin-right: .25em;

        a {
            color: #8f8f8f;

            &:hover {
                color: var(--secondary);
            }
        }

        &.tag {
            background-color: var(--lightgray);
            padding: 0 .5em;
            border-radius: 5px;
        }

        &:last-child:after {
            display: none;
        }
    }
}