@import './Variables.scss';

.header {
    width: 100%;
    background: var(--white);
    color: var(--gray-dark);
    border-bottom: 1px solid var(--light);

    .btn-primary {
        background: rgba(0, 0, 0, 0.3);
        border-color: transparent;
        font-size: 1rem;
        padding-top: 0.5rem;

        &:hover {
            background: rgba(0, 0, 0, 0.4);
            border-color: transparent
        }
    }

    .navbar {
        padding: 1rem;
    }

    .navbar-dark .navbar-toggler {
        border: none;
        padding: .25rem .6rem;

        &:hover {
            -webkit-opacity: 1;
            -moz-opacity: 1;
            opacity: 1;
        }

        .menu-icon {
            color: var(--gray-dark);
        }
    }

    .nav-item {
        font-weight: bold;
        padding: .5rem;

        &.active a {
            color: rgba(0, 0, 0, 0.5);

            &:hover {
                text-decoration: none
            }
        }

        a {
            color: var(--gray-dark);

            &:hover {
                text-decoration: underline;
                color: rgba(0, 0, 0, 0.6)
            }
        }
    }
}

.logo {
    width: 60%;
}

.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background-color: #fff;

    &:hover {
        color: var(--secondary);
        background-color: rgba(255, 255, 255, 0.8)
    }
}

@media (min-width: 991px) {
    .logo {
        max-height: 120px;
        object-fit: contain;
    }
}