.slider-content {
    position: relative;
    height: calc(100vh - 120px);
    overflow: hidden;
    z-index: 1;

    .slide {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        background-size: cover;
        background-position: center;
        animation: slide 2s ease;
        z-index: -1;

        .slider-caption {
            max-width: var(--content-max-width);
            margin: auto;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            padding-top: 5rem;

            .caption {
                width: 98%;
                text-align: center;

                h1 {
                    color: var(--white);
                    text-shadow: var(--text-shadow);
                    font-size: 3rem;

                    &::after {
                        display: none;
                    }
                }

                h6 {
                    margin: 2rem 0;
                    color: var(--white);
                    text-shadow: var(text-shadow);
                }
            }
        }

        &.active {
            display: flex;

            .caption {
                h1 {
                    opacity: 0;
                    animation: captionText 0.5s ease forwards;
                    animation-delay: 1s;
                }

                h6 {
                    opacity: 0;
                    animation: captionText 0.5s ease forwards;
                    animation-delay: 1.2s;
                }

                a {
                    opacity: 0;
                    animation: captionText 0.5s ease forwards;
                    animation-delay: 1.4s;
                }
            }
        }
    }

    .arrow-controls {
        display: none;

        .prev,
        .next {
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            height: 130px;
            width: 50px;
            color: #ffffff8a;
            text-align: center;
            line-height: 130px;
            font-size: 30px;
            border-radius: var(--border-radius);
            margin: 0 .5rem;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }

        .prev:hover,
        .next:hover {
            background-color: var(--white-transparent);
        }

    }

    .position {
        position: absolute;
        right: 50%;
        bottom: 2rem;
        transform: translateX(50%);
        display: flex;
        flex-direction: row;

        div {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 5px;
            border: 3px solid var(--white-semi-transparent);
            border-radius: 50%;
            color: transparent;
            cursor: pointer;
            transition: var(--transition);

            &.active {
                background-color: var(--white-semi-transparent);
            }
        }
    }
}

@keyframes slide {
    0% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes captionText {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


@media (min-width: 1024px) {
    .slider-content {
        .slide {
            .slider-caption {
                padding-top: 0;
                height: auto;
                justify-content: center;

                .caption {
                    width: 50%;
                    text-align: left;

                    h1 {
                        font-size: 4rem;

                        &::after {
                            content: url('./assets/images/separator.png');
                            display: inline-block;
                            width: 100%;
                            display: inline-block;
                        }
                    }

                    a.btn {
                        width: fit-content;
                    }

                }
            }
        }

        .position {
            right: 10rem !important;
            bottom: 50% !important;
            transform: translateY(50%);
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 1200px) {
    .slider-content {
        .arrow-controls {
            display: block;
        }
    }
}