.news-grid {
    .new-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        gap: 1rem;

        .post-thumbnail {
            object-fit: cover;
            width: 100%;
            border-radius: var(--border-radius);
            overflow: hidden;

            img {
                width: 100%;
                height: 300px;
                border-radius: var(--border-radius);
                object-fit: cover;
                transition: var(--main-transition);

                &:hover {
                    transform: scale(1.025);
                }
            }

            .read-more {
                width: fit-content;
            }
        }

        a.read-more {
            max-width: fit-content;
        }
    }
}