.product-categories {
    .product-categories-container {
        display: grid;
        gap: 1rem;

        .product-category-item-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            .image-wrapper {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    transition: var(--main-transition);

                    &:hover,
                    &:active {
                        transform: scale(1.1);
                    }
                }
            }

            span {
                text-transform: uppercase;
                color: var(--primary);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .product-categories {
        .product-categories-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1200px) {
    .product-categories {
        .product-categories-container {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}