.staff-grid {
    .content-wrapper {
        .image-wrapper {
            overflow: hidden;
            border-radius: var(--border-radius);

            img {
                cursor: pointer;
                transition: var(--main-transition);

                &:hover,
                &:active {
                    transform: scale(1.025);
                }
            }
        }
    }
}