.wapp-link {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--light-whatsapp);
    border-radius: 50%;
    z-index: 99;
    transition: var(--main-transition);

    small {
        display: block;
    }

    &:hover,
    &:active {
        background-color: var(--dark-whatsapp);
    }

    .wrapper {
        .header {
            display: none;
        }

        .text-wrapper {
            color: var(--white);
            display: none;
        }

        .icon-wrapper {
            position: relative;
            height: 4rem;
            width: 4rem;
            font-size: 2rem;
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;

            .active-circle {
                width: 10px;
                height: 10px;
                background-color: var(--danger);
                position: absolute;
                z-index: 1;
                border-radius: 50%;
                right: 4px;
                top: 4px;
                display: block;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .wapp-link {
        border-radius: var(--border-radius);

        &:hover,
        &:active {
            .wrapper {
                a {
                    .icon-wrapper {
                        background-color: var(--light-whatsapp);
                    }
                }
            }
        }

        .wrapper {
            .header {
                padding: 1rem;
                display: block;
                background-color: var(--dark-whatsapp);
                color: var(--white);
                border-top-left-radius: var(--border-radius);
                border-top-right-radius: var(--border-radius);
                display: flex;
                align-items: center;
                gap: 1rem;

                .profile-wrapper {
                    position: relative;
                    overflow: hidden;

                    .active {
                        content: "";
                        bottom: 0px;
                        right: 0px;
                        width: 12px;
                        height: 12px;
                        box-sizing: border-box;
                        position: absolute;
                        z-index: 2;
                        border-radius: 50%;
                        background-color: var(--light-whatsapp);
                        border: 2px solid var(--dark-whatsapp);
                    }
                    
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        border-radius: 50%;
                    }
                }

                .info-wrapper {
                    p {
                        margin-bottom: 0;
                        font-weight: 700;
                    }
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                padding: 1rem;

                .text-wrapper {
                    display: block;
                }

                .icon-wrapper {
                    background-color: var(--dark-whatsapp);
                    border-radius: 50%;
                    transition: var(--main-transition);
                    
                    .active-circle {
                        display: none;
                    }
                }
            }
        }
    }
}